<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>

    <meta charset='utf-8' />


    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class="page">

        <section class="page_section">
            <div class="page_content hero_section">

                <div class="hero">
                    <span class="hero_lable">Slack Features</span>
                    <h1 class="hero_title">One platform for your team and your work</h1>
                    <p class="double_line">All the features of Slack work together so you can, too.</p>
                    <div class="hero_buttons">
                        <a href="#" class="button button_primary click">Try for free</a>
                        <a href="#" class="button button_secondary click">See all features</a>
                    </div>
                </div>

                <img src="/img/hero.png" alt="hero" class="hero_image">

                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb">
                    <img src="/img/brands/target.png" alt="target">
                    <img src="/img/brands/uber.png" alt="uber">
                    <img src="/img/brands/onemedical.png" alt="onemedical">
                    <img src="/img/brands/newscorp.png" alt="newscorp">
                    <img src="/img/brands/va.png" alt="va">
                    <img src="/img/brands/intuit.png" alt="intuit">
                    <img src="/img/brands/sonos.png" alt="sonos">
                </div>

            </div>
        </section>

        <section class="page_section page_section_ligth">
            <div class="page_content features_section">
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description double_line">Stay on the same page and make decisions faster by bringing
                    all of your
                    work communication into one place.</p>
                <div class="feat_grid_4">

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <p class="double_line">Collaborate with teams at other companies the same way you do with teams
                            at your own.</p>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/channels.svg')"></span>
                        <h3 class="feat_card_title">Channels</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg')"></span>
                        <h3 class="feat_card_title">Huddles</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg')"></span>
                        <h3 class="feat_card_title">Clips</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg')"></span>
                        <h3 class="feat_card_title">Canvas</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg')"></span>
                        <h3 class="feat_card_title">Messaging</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/svg/feature/accessibility.svg')"></span>
                        <h3 class="feat_card_title">Accessibility</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>
                </div>

            </div>
        </section>

        <section class="page_section page_section_ligth">
            <div class="page_content features_section features_section_second">
                <div class="feat_header">
                    <h2 class="features_title">What you need, when you need it</h2>
                    <p class="features_description double_line">Spend less time shuffling tabs with a comprehensive
                        message archive and all your work tools at your fingertips.</p>
                </div>
                <div class="feat_grid_4 feat_grid_4_second">

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/apps.svg')"></span>
                        <h3>Apps and Integrations</h3>
                        <p class="double_line">Streamline work by connecting
                            Slack with other services like
                            Google Drive, Office 365 and
                            over 2,200 more.</p>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/workflow.svg')"></span>
                        <h3>Workflow Builder</h3>
                        <p class="double_line">Automate routine actions and
                            communication, so you can get
                            back to the kind of work only
                            humans can do.</p>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/search.svg')"></span>
                        <h3 class="feat_card_title">Search</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/sharing.svg')"></span>
                        <h3 class="feat_card_title">File sharing</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                </div>
            </div>
        </section>

        <section class="page_section">
            <div class="page_content customer_section">
                <img class="delivero_img" src="/img/deliveroo.png" alt="deliveroo">
                <div class="customer_content">
                    <p class="customer_description double_line">“The thing that keeps us connected
                        the most is Slack. It’s a very
                        immediate and straightforward
                        method of communication, and
                        really the only channel that people
                        prefer and enjoy using.”</p>
                    <img src="/img/deliveroo_icon.png" alt="deliveroo icon"></img>
                    <p class="deliveroo">Will Sprunt, CIO, Deliveroo</p>
                </div>
            </div>
        </section>

        <section class="page_section">
            <div class="page_content articles_section">
                <h2 class="articles_title ">Explore more about working in Slack</h2>
                <div class="articles">

                    <div class="article">
                        <img src="/img/slack-101.png" alt="slack">
                        <div class="article_content">
                            <div class="article_header">
                                <h3 class="article_title double_line">Slack Tutorials</h3>
                                <p class="article_description double_line">Slack 101</p>
                            </div>
                        </div>
                        <div class="article_links">
                            <a class="click link" href="#">LEARN MORE</a>
                            <a href="#" class="icon icon_arrow feat_link click"></a>
                        </div>
                    </div>

                    <div class="article">
                        <img src="/img/slack-vs-email.png" alt="slack vs email">
                        <div class="article_content">
                            <div class="article_header">
                                <h3 class="article_title double_line">Slack vs. Email</h3>
                                <p class="article_description double_line">An easier, more organized way to work</p>
                            </div>
                        </div>
                        <div class="article_links">
                            <a class="click link" href="#">LEARN MORE</a>
                            <a href="#" class="icon icon_arrow feat_link click"></a>
                        </div>
                    </div>

                    <div class="article">
                        <img src="/img/fastly-shared-channels.png" alt="fastly shared channels">
                        <div class="article_content">
                            <div class="article_header">
                                <h3 class="article_title double_line">Customer Stories</h3>
                                <p class="article_description double_line">How Fastly uses Slack Connect to wow
                                    enterprise customers</p>
                            </div>
                        </div>
                        <div class="article_links">
                            <a class="click link" href="#">LEARN MORE</a>
                            <a href="#" class="icon icon_arrow feat_link click"></a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

</body>

</html>