<!DOCTYPE html>
<html>

<head>
    <title>
        Slack page
    </title>

    <meta charset='utf-8' />


    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/slack.css' rel='stylesheet' />

    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

    <div class="page">
        <section class="page_section">
            <div class="page_content hero_section">

                <div class="hero">
                    <span class="hero_lable">Slack Features</span>
                    <h1 class="hero_title">One platform for your team and your work</h1>
                    <p class="double_line">All the features of Slack work together so you can, too.</p>
                    <div class="hero_buttons">
                        <a href="#" class="button button_primary click">Try for free</a>
                        <a href="#" class="button button_secondary click">See all features</a>
                    </div>
                </div>

                <img src="/img/hero.png" alt="hero" class="hero_image">

                <div class="brands">
                    <img src="/img/brands/airbnb.png" alt="airbnb">
                    <img src="/img/brands/target.png" alt="target">
                    <img src="/img/brands/uber.png" alt="uber">
                    <img src="/img/brands/onemedical.png" alt="onemedical">
                    <img src="/img/brands/newscorp.png" alt="newscorp">
                    <img src="/img/brands/va.png" alt="va">
                    <img src="/img/brands/intuit.png" alt="intuit">
                    <img src="/img/brands/sonos.png" alt="sonos">
                </div>

            </div>
        </section>

        <section class="page_section page_section_ligth">
            <div class="page_content features_section">
                <h2 class="features_title">Work more easily with everyone</h2>
                <p class="features_description double_line">Stay on the same page and make decisions faster by bringing
                    all of your
                    work communication into one place.</p>
                <div class="feat_grid_4">

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/connect.svg')"></span>
                        <h3>Slack Connect</h3>
                        <p class="double_line">Collaborate with teams at other companies the same way you do with teams
                            at your own.</p>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/channels.svg')"></span>
                        <h3 class="feat_card_title">Channels</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/huddles.svg')"></span>
                        <h3 class="feat_card_title">Huddles</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/clips.svg')"></span>
                        <h3 class="feat_card_title">Clips</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/canvas.svg')"></span>
                        <h3 class="feat_card_title">Canvas</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon" style="background-image: url('/svg/feature/messaging.svg')"></span>
                        <h3 class="feat_card_title">Messaging</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>

                    <div class="feat_card">
                        <span class="icon feat_icon"
                            style="background-image: url('/svg/feature/accessibility.svg')"></span>
                        <h3 class="feat_card_title">Accessibility</h3>
                        <a href="#" class="icon icon_arrow feat_link click"></a>
                    </div>
                </div>

            </div>
    </div>
    </section>

    </div>

</body>

</html>