{{>headerDark}}

<main class="main">

    <section class="hero">
        {{#with hero}}
        {{>hero text=description isBatton=true}}
        {{/with}}
    </section>

    <section class="about">
        {{#with about}}
        <h2>{{heading}}</h2>
        <p>{{info}}</p>
        {{/with}}
    </section>

    <section class="articles">
        <div>
            <h2>Our Articles</h2>
            <button class="btn_viev_all">View All</button>
        </div>
        <div>
            {{#each articles}}
            {{>articleCardDark}}
            {{/each}}
        </div>
    </section>

</main>

{{#with footer}}
{{>footerDark list=pages}}
{{/with}}