<div class="page">
    <div class="page_content">

        <div class="page_block">
            <header class="header">

                {{>logo}}

                <nav class="header_nav">
                    {{>nav list=header}}
                </nav>

            </header>
        </div>

        <div class="page_block">
            {{>hero title=hero.title text=hero.text}}
        </div>

        <div class="page_block">
            <main class="main">
                {{#each plans}}
                {{>card data=this}}
                {{/each}}
            </main>
        </div>

        <div class="page_block">
            <footer class="footer">
                <div>
                    {{>logo}}
                    <span class="footer_copyright">Copyright 2023-2024</span>
                </div>
                {{#each footer}}
                <div>
                    <span class="footer_title">{{title}}</span>
                    {{>nav list=links isVertical=true}}
                </div>
                {{/each}}
            </footer>
        </div>

    </div>
</div>