:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-d: 16px;
    --space-ml: 20px;
    --space-l: 22px;
    --space-b: 24px;

    --size-s: 12px;
    --size-m: 14px;
    --size-d: 16px;
    --size-ml: 18px;
    --size-l: 20px;
    --size-b: 24px;

    --white-color: #FFFFFF;
    --dark_color: #111827;
    --color-border: #6C757D;
    --color-border-light: #D3DEE9;
    --color-border-secondary: #DEE2E6;
    --primary-text-color: #212529;
    --secondary-text-color: #5A5A5A;
    --link-color: #007BFF;
    --botton-color: #0D6EFD;

    --font-weight-d: 400;
    --font-weight-b: 700;

    --border-radius-d: 12px;
    --border-radius-s: 4px;
}

/* ======================= */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.page {
    background-color: var(--dark_color);
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight-d);
    font-size: var(--size-d);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 10px
}

.page_content {
    max-width: 1150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* =========================== */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m) 0px;
    width: 100%;
    border-bottom: 1px solid #253041;
}

.bottom_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 12px;
    font-size: var(--size-m);
    color: var(--white-color);
}

.left_part_bottom_header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.left_part_bottom_header>span {
    font-weight: var(--font-weight-b);
    color: #885FFB;
    padding: 2px 6px;
    background: #885FFB33;
    border-radius: 4px;
}

.left_part_bottom_header>p>a {
    color: var(--white-color);
    text-decoration-color: transparent;
    transition-duration: 0.7s;
    transition-property: opacity, text-decoration-color;
}

.left_part_bottom_header>p>a:hover {
    opacity: 0.7;
    text-decoration-color: var(--white-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-b);
    font-size: var(--size-m);
    color: var(--white-color);
    padding: var(--space-s) var(--space-m);
    background: #885FFB;
    border-radius: 10px;
}

.nav {
    list-style: none;
    display: flex;
    gap: var(--space-b);
}

.nav_vertical {
    gap: var(--space-m);
    display: flex;
    flex-direction: column;
}

.nav_link {
    color: var(--white-color);
    text-decoration-color: transparent;
    transition-duration: 0.7s;
    transition-property: opacity, text-decoration-color;
}

.nav_link:hover {
    opacity: 0.7;
    text-decoration-color: var(--white-color);
}

/* ================================= */

.main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    gap: var(--space-ml);
    background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    border-radius: calc(var(--border-radius-d)*2);
    height: 300px;
}

.hero_title {
    font-weight: var(--font-weight-b);
    font-size: 36px;
    color: var(--white-color);
    text-align: center;
}

.hero_text {
    line-height: 24px;
    color: #9CA3AF;
    font-family: 'Inter';
}

.hero_button {
    padding: 12px 36px;
    gap: var(--space-m);
    background: #885FFB;
    border-radius: 10px;
    transition: opacity 1s;
}

.hero_button:hover {
    opacity: 0.7;
}

.hero_button>a {
    font-weight: var(--font-weight-b);
    color: var(--white-color);
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: var(--space-d);
    background: #2A314170;
    backdrop-filter: blur(25px);
    border-radius: 24px;
}

.about>h2 {
    font-weight: var(--font-weight-b);
    font-size: var(--size-b);
    color: var(--white-color);
}

.about>p {
    line-height: 24px;
    color: #9CA3AF;
    font-family: 'Inter';
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.articles>div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.articles h2 {
    font-weight: var(--font-weight-b);
    font-size: 32px;
    color: var(--white-color);
}

.articles span {
    position: absolute;
    color: var(--white-color);
    padding: 2px 6px;
    gap: 10px;
    background: rgba(251, 95, 95, 0.5);
    border-radius: var(--border-radius-s);
    font-weight: var(--font-weight-b);
    right: 12px;
    top: 145px;
}

.btn_viev_all {
    padding: var(--space-m) var(--space-ml);
    border: 1px solid #9CA3AF;
    border-radius: 10px;
    font-weight: var(--font-weight-b);
    color: var(--white-color);
    background-color: transparent;
    transition: opacity 1s;
}

.btn_viev_all:hover {
    opacity: 0.7;
}

.article_card_dark {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--space-d);
    width: 100%;
    justify-content: space-between;
}

.article_card_dark>img {
    background: #272B30;
    border-radius: 24px;
    width: 100%;
}

.article_card_dark>h3 {
    font-weight: var(--font-weight-b);
    font-size: var(--size-ml);
    color: var(--white-color);
}

.article_card_dark>p {
    font-size: var(--size-m);
    line-height: 21px;
    color: #9CA3AF;
}

.article_card_dark>button>a {
    font-weight: var(--font-weight-b);
    color: var(--white-color);
    font-size: var(--size-m);
    text-decoration: none;
}

.article_card_dark>button {
    padding: var(--space-s) var(--space-d);
    background: #885FFB;
    border-radius: 10px;
    width: fit-content;
    border-radius: 10px;
    transition: opacity 1s;
}

.article_card_dark>button:hover {
    opacity: 0.7;
}

/* ====================================== */

.footer {
    padding-bottom: 32px;
    display: flex;
    gap: var(--space-d);
    justify-content: space-between;
    width: 100%;
}

.footer_copyright {
    color: #9CA3AF;
}