<div class="article_card_dark">
    <img src="{{photo}}" alt="photo">
    <h3>{{name}}</h3>
    <p>{{description}}</p>
    <button><a href="{{id}}">Read All</a></button>
    {{#if isNew}}<span>NEW</span>{{/if}}

</div>