{{#with data}}
<div class="article">
    <h3 class="title-article">{{title}}</h3>
    <p class="date-article">
        {{date}} by
        <span class="author-article">{{author}}</span>
    </p>
    <p class="description-article">{{description}}</p>
    <a href="#" class="link">Continue reading</a>
</div>
{{/with}}